In [1]:
import pandas as pd
import os

In [3]:
path2 = "/Users/Richard/PycharmProjects/NeuroLab_3.10/PsychoPy/Emo_categorised.csv"
Emo = pd.read_csv(path2, sep=",")

Emo.head()

,WORD,IM_Y_M_N,IM_Y_F_N,IM_O_M_N,IM_O_F_N,IM_Y_M_MEAN,IM_Y_F_MEAN,IM_O_M_MEAN,IM_O_F_MEAN,IM_Y_M_SD,...,EM_O_F_SD,EM_Y_N,EM_O_N,EM_Y_MEAN,EM_O_MEAN,EM_Y_SD,EM_O_SD,F_Unknown_Y,F_Unknown_O,Kategorie
0,Aal,11,10,12,10,90.55,93.40,97.33,90.50,12.30,...,51.56,18,19,5.83,36.16,36.58,41.77,0.0,0.0,nature_based_non_human
1,Aas,10,10,13,11,73.10,57.50,80.69,59.64,20.44,...,21.04,19,19,-49.37,-62.74,24.86,32.97,0.0,0.0,NaN
2,Abend,10,11,10,12,53.80,52.27,59.90,74.08,28.96,...,25.94,18,19,42.83,50.47,27.44,26.39,0.0,0.0,NaN
3,Abendbrot,9,11,13,10,64.89,62.64,84.85,82.50,18.72,...,36.59,19,20,28.79,59.00,23.44,29.92,0.0,0.0,NaN
4,Abfall,8,10,13,9,73.38,77.80,67.46,60.89,28.84,...,25.50,18,19,-39.78,-45.63,23.08,28.66,0.0,0.0,NaN

In [ ]:
Emo["WORD_length"] = Emo["WORD"].apply(len)

def length_categorization(word):
    if len(word) < mean_length:
        return "short_word"
    elif len(word) > mean_length:
        return "long_word"
    
Emo["length_group"] = Emo["WORD"].apply(length_categorization)

In [20]:
out_path = "/Users/Richard/PycharmProjects/NeuroLab_3.10/WordList/EmoIma/ESM1_categorised.csv"

Emo.to_csv(out_path, index=False)

In [8]:
Emo["WORD_length"] = Emo["WORD"].apply(len)

mean_length = Emo["WORD_length"].mean()

print(Emo["WORD_length"].describe())

print(len(Emo[Emo["WORD_length"] > mean_length]))
print(len(Emo[Emo["WORD_length"] < mean_length]))

count    2592.000000
mean        6.309028
std         1.780016
min         2.000000
25%         5.000000
50%         6.000000
75%         8.000000
max        10.000000
Name: WORD_length, dtype: float64
1077
1515

In [14]:
Emo[["WORD", "WORD_length", "length_group"]]

           WORD  WORD_length length_group
0           Aal            3   short_word
1           Aas            3   short_word
2         Abend            5   short_word
3     Abendbrot            9    long_word
4        Abfall            6   short_word
...         ...          ...          ...
2587   Zwieback            8    long_word
2588    Zwiebel            7    long_word
2589  Zwielicht            9    long_word
2590   Zwilling            8    long_word
2591   Zylinder            8    long_word

[2592 rows x 3 columns]

In [19]:
len_short_words = len(Emo[(Emo["Kategorie"] == "nature_based_non_human") & (Emo["length_group"] == "short_word")])
len_long_words = len(Emo[(Emo["Kategorie"] == "nature_based_non_human") & (Emo["length_group"] == "long_word")])

print(f"Short Words: {len_short_words}")
print(f"Long Words: {len_long_words}")

Short Words: 225
Long Words: 116